@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 29% 95%;
    --foreground: 209 38% 15%;
    --card: 0 0% 100%;
    --card-foreground: 209 38% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 209 38% 15%;
    --primary: 209 38% 28%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 20% 88%;
    --secondary-foreground: 209 38% 28%;
    --muted: 210 20% 88%;
    --muted-foreground: 209 30% 35%;
    --accent: 175 52% 38%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 100%;
    --ring: 175 52% 38%;
    --chart-1: 209 38% 28%;
    --chart-2: 175 52% 38%;
    --chart-3: 0 84.2% 60.2%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 209 38% 10%;
    --foreground: 210 29% 95%;
    --card: 209 38% 12%;
    --card-foreground: 210 29% 95%;
    --popover: 209 38% 10%;
    --popover-foreground: 210 29% 95%;
    --primary: 210 29% 95%;
    --primary-foreground: 209 38% 10%;
    --secondary: 209 30% 20%;
    --secondary-foreground: 210 29% 95%;
    --muted: 209 30% 20%;
    --muted-foreground: 210 20% 60%;
    --accent: 175 52% 45%;
    --accent-foreground: 209 38% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 209 30% 20%;
    --input: 209 30% 20%;
    --ring: 175 52% 45%;
    --chart-1: 210 29% 95%;
    --chart-2: 175 52% 45%;
    --chart-3: 0 62.8% 30.6%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
